@using Common.Services
@using Common.Models
@inject IAuthenticationService AuthenticationService
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankAppWeb</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/message-templates.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BankAppWeb.styles.css" asp-append-version="true" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="MainPage" asp-action="Index">BankAppWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MainPage"
                                asp-action="Index">Home</a>
                        </li>

                        <!-- Trading Category -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownTrading"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Trading
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownTrading">
                                @if (AuthenticationService.IsUserLoggedIn())
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Homepage"
                                            asp-action="Index">Stocks</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="TransactionLog"
                                            asp-action="Index">Stock Transaction History</a></li>
                                }
                                @if (AuthenticationService.IsUserAdmin())
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="CreateStock"
                                            asp-action="Index">Create Stock</a></li>
                                    <li><a class="dropdown-item" href="#">Investments</a></li>
                                }
                            </ul>
                        </li>

                        <!-- Social Category -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownSocial"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Social
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownSocial">
                                @if (AuthenticationService.IsUserAdmin())
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="Reports">Chat
                                            Reports</a></li>
                                }
                                @if (AuthenticationService.IsUserLoggedIn())
                                {
                                    <li><a class="dropdown-item" href="#">BillSplit Reports</a></li>
                                }
                                <li><a class="dropdown-item" asp-page="/News/Index">News</a></li>
                                @if (AuthenticationService.IsUserLoggedIn())
                                {
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" asp-page="/News/Create">Create Article</a></li>
                                    @if (AuthenticationService.IsUserAdmin())
                                    {
                                        <li><a class="dropdown-item" asp-page="/News/Admin">Manage Articles</a></li>
                                    }
                                }
                            </ul>
                        </li>

                        <!-- Banking Category -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownBanking"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Banking
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownBanking">
                                @if (AuthenticationService.IsUserLoggedIn())
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Loans"
                                            asp-action="Index">Loans</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="GemStore"
                                            asp-action="Index">Store</a></li>
                                }
                                @if (AuthenticationService.IsUserAdmin())
                                {
                                    <li><a class="dropdown-item" asp-area="" asp-controller="LoanRequest"
                                            asp-action="Index">Loan Requests</a></li>
                                }
                            </ul>
                        </li>

                        <!-- Admin Category -->
                        @if (AuthenticationService.IsUserAdmin())
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownAdmin"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Users"
                                            asp-action="Index">Users</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - BankAppWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/message-templates.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

