@model BankAppWeb.Models.BankTransactionsModel

@{
    ViewData["Title"] = "Transactions";
}

<div class="card p-4 shadow-sm align-items-center" style="max-width: 400px; margin: auto;">
    <span>

        <h1>Transactions</h1>
    </span>
    <br />
    <br />
    <a class="btn btn-outline-primary w-100" style="width: 100%; margin: auto;" asp-route-IBAN="@Model.IBAN" asp-controller="SendMoney" asp-action="Index">Send Money</a>
    <br />
    <a class="btn btn-outline-primary w-100" style="width: 100%; margin: auto;" asp-route-IBAN="@Model.IBAN" asp-controller="Loans" asp-action="Index">Pay a Loan</a>
    <br />
    <a class="btn btn-outline-primary w-100 " style="width: 100%; margin: auto;" asp-route-IBAN="@Model.IBAN" asp-controller="CurrencyExchange" asp-action="Index">See Currency Exchange Table</a>

    <br />
    <br />

    <a class="btn btn-danger" style="width: 100%; margin: auto;" asp-controller="MainPage" asp-action="Index">Back</a>

</div>