@model BankAppWeb.Models.BankAccountVerifyModel


@{
    ViewData["Title"] = "Loan Shark - Bank Account Verification";
}

<div class="container mt-5">
    <!-- Header Section -->
    <div class="border-bottom pb-3 mb-5">
        <h2 class="text-center">Verify Details</h2>
    </div>

    <!-- Password Input (Centered) -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <form asp-action="Verify" method="post">
                <input type="hidden" asp-for="Iban" />

                <div class="mb-4">
                    <input asp-for="Password" type="password" class="form-control form-control-lg"
                           placeholder="Password:" />
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>

                <!-- Buttons (Bottom Center) -->
                <div class="d-flex justify-content-center mt-5 mb-5">
                    <a asp-controller="BankAccountList" asp-action="Index" class="btn btn-outline-secondary me-4 px-4">Cancel</a>
                    <button type="submit" class="btn btn-primary px-4">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>